<!DOCTYPE html>
<html>
  <head>
    <title>Turnieranmeldung</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div  id="container">
        <img src="images/chess-banner.jpg" alt="" border="0" width="1280" height="331">
        <h1>Turnieranmeldung für Spieler</h1>
        <form id="formAddUser" name="adduser" method="post" action="/addplayer">
            <input id="inputFirstname" class="input" type="text" placeholder="Vorname" name="firstname" />
            <input id="inputLastname" class="input" type="text" placeholder="Nachname" name="lastname" />
            <br>
            <input id="inputDWZ" class="input" type="number" placeholder="DWZ" name="dwz" />
            <input id="inputELO" class="input" type="number" placeholder="ELO" name="elo" />
            <br>
            <select id="selectGroup" name="group">
            <% for(i = 0; i < data.docs[0].tournament.groups.length; i++) { %> 
                    <option value="<%= data.docs[0].tournament.groups[i] %>"><%= data.docs[0].tournament.groups[i] %></option>
            <% } %>
            </select>
            <select id="selectGroup" name="sex">
                    <option value="male">Männlich</option>
                    <option value="female">Weiblich</option>
            </select>
            <br>
            <input id="inputVerein" class="input" type="text" placeholder="Verein" name="club" />
            <input id="inputEmail" class="input" type="text" placeholder="Email" name="email" />
            <br>
            <button id="btnSubmit" class="blue-button">Spieler anmelden</button>
        </form>
        <!-- The footer -->
        <div id="footer_bar">
        <h3>Copyright (c) 2019, <a href="http://www.fam-petzke.de">Thomas Petzke</a></h3>
        </div>
    </div>
  </body>
</html>
