<!DOCTYPE html>
<html>
  <head>
    <title>Turnier Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div  id="container">
        <%- include partials/main-mnu.ejs %>
        <h1><%= tournament.name %></h1>
        <h3>Turnierleiter Dashboard</h3>
        
        <%- include partials/footer.ejs %>
      </div>
  </body>
</html>