<!DOCTYPE html>
<html>
  <head>
    <title>Willkommen</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div  id="container">
        <img src="images/chess-banner.jpg" alt="" width="1280" height="331">
        <br>
        <h1>Willkommen im Turnier, <%= Name %></h1>
        <h3>Die Anmeldung erfolgte für die Turniergruppe <%= Group %></h3>
        <br>
        <div id="index_button_container">
        <br>
        <a href='/' class="blue-button">Zurück zur Homepage</a>
        </div>
        <!-- The footer -->
        <div id="footer_bar">
        <h3>Copyright (c) 2019, <a href="http://www.fam-petzke.de">Thomas Petzke</a></h3>
        </div>
    </div>
  </body>
</html>
